* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3D4750;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.bg-header-line {
  background-color: #3D4750;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}
.header-line p {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}
.header-line ul {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.header-line ul a {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  transition: color 0.5s ease-in-out;
}
.header-line ul a:hover {
  color: #4ed6b8;
}

.bg-header-main {
  background-color: #f8f8fb;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header_logo p:nth-last-of-type(2) {
  font-size: 12px;
  color: #ff954d;
  font-weight: 500;
}
.header_logo p:nth-last-of-type(1) {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.header_search {
  background-color: #fff;
  border: 1px solid #eeeeee;
  padding: 20px 13.5px;
  border-radius: 15px;
  display: flex;
  gap: 24px;
  width: 40%;
}
.header_search select {
  border: none;
  background: none;
  font-size: 14px;
  color: #777;
}
.header_search .search_items {
  width: 100%;
  display: flex;
}
.header_search .search_items input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #777;
  width: 100%;
}
.header_search .search_items button {
  border: none;
  background: none;
  font-size: 20px;
}
.header_search .search_items button i {
  display: flex;
  align-items: center;
}

.header_icon {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_icon .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text_icon p {
  font-size: 14px;
  color: #3D4750;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.text_icon p span {
  margin-right: 4px;
  font-weight: 700;
}
.text_icon p:hover {
  color: #d0e7ff;
}
.text_icon .text_icon_main {
  font-size: 16px;
  font-weight: 600;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.header_bottom ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_bottom ul .header-li-one {
  padding: 10px;
  border: 1px solid #d0e7ff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.header_bottom ul .header-li-one:hover {
  border: 1px solid #4ed6b8;
  transform: translateY(-2px);
}
.header_bottom ul .header-li-one a {
  display: flex;
}
.header_bottom ul a {
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.header_bottom ul a:hover {
  color: #4ed6b8;
}
.header_bottom ul .header-li-last {
  display: flex;
  align-items: center;
}
.header_bottom ul .header-li-last a {
  display: flex;
  gap: 5px;
}
.header_bottom .header_map {
  display: flex;
  align-items: center;
  border: 1px solid #d0e7ff;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.header_bottom .header_map:hover {
  border: 1px solid #4ed6b8;
}
.header_bottom .header_map button {
  border: none;
  background: none;
  display: flex;
}
.header_bottom .header_map input {
  border: none;
  outline: none;
  font-size: 14px;
}

.bg-banner-main {
  background: linear-gradient(99deg, rgba(234, 234, 234, 0.15) 2.29%, rgba(216, 202, 179, 0.01) 102.4%);
  padding: 50px 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_title p {
  font-size: 18px;
  font-weight: 300;
  color: #777;
  margin-bottom: 20px;
}
.banner_title .banner_title_item {
  position: relative;
}
.banner_title .banner_title_item img {
  position: absolute;
  top: -30px;
  right: -30px;
}
.banner_title h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #3d4750;
  margin-bottom: 20px;
}
.banner_title h2 span {
  color: #eda957;
}
.banner_title button {
  display: inline-block;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  background: none;
}
.banner_title button::before,
.banner_title button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}
.banner_title button::before {
  left: -4px;
  background: #240046;
}
.banner_title button::after {
  right: -4px;
  background: #5a189a;
}
.banner_title button:hover::before,
.banner_title button:hover::after {
  width: 58%;
}
.banner_title button:hover span {
  color: #e0aaff;
  transition: 0.3s;
}
.banner_title button span {
  color: #3d4750;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

/*# sourceMappingURL=main.css.map */
