<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link Google-Fonts Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Link Google-Fonts Quicksand -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- link boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link css -->
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="bg-banner-main">
        <section class="container">
            <div class="banner">
                <div class="banner_title">
                    <p>Flat 30% Off</p>
                    <div class="banner_title_item">
                        <h2>Explore <span>Healthy</span> <br> & Fresh Fruits</h2>
                        <img src="../images/Banner/banner_4.png" alt="">
                    </div>
                    <button>
                        <span>Shop Now</span>
                    </button>
                </div>
                <div class="banner_images">
                    <img src="../images/Banner/banner_3.png" alt="">
                </div>
            </div>
        </section>
    </section>
</body>

</html>