<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link Google-Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- link boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link css -->
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="bg-header-line">
        <section class="container">
            <div class="header-line">
                <p>Flat 50% Off On Grocery Shop.</p>
                <ul>
                    <li><a href="">Help?</a></li>
                    <li><a href="">Track Order</a></li>
                    <li><a href="">Language</a></li>
                    <li><a href="">Currency</a></li>
                </ul>
            </div>
        </section>
    </section>
    <section class="bg-header-main">
        <section class="container">
            <div class="header-main">
                <a href="#" class="header_logo">
                    <img src="../images/Logo/logo.svg" alt="hinh anh logo">
                    <div class="logo-text">
                        <p>Yellow</p>
                        <p>Berry</p>
                    </div>
                </a>
                <div class="header_search">
                    <select name="" id="">
                        <option value="" disabled selected>Vegetables</option>
                    </select>
                    <div class="search_items">
                        <input type="text" placeholder="Search products...">
                        <button>
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </div>
                <div class="header_icon">
                    <div class="icon icon_user">
                        <img src="../images/Logo/logo_user.svg" alt="">
                        <a href="" class="icon_user_text text_icon">
                            <p>Account</p>
                            <p class="text_icon_main">Login</p>
                        </a>
                    </div>
                    <div class="icon icon_star">
                        <img src="../images/Logo/logo_star.svg" alt="">
                        <a href="" class="icon_start_text text_icon">
                            <p><span>3</span>Items</p>
                            <p class="text_icon_main">Wishlist</p>
                        </a>
                    </div>
                    <div class="icon icon_cart">
                        <img src="../images/Logo/logo_cart.svg" alt="">
                        <a href="" class="icon_cart_text text_icon">
                            <p><span>4</span>Items</p>
                            <p class="text_icon_main">Cart</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="bg-header-bottom">
        <section class="container">
            <div class="header_bottom">
                <ul>
                    <li class="header-li-one">
                        <a href="">
                            <img src="../images/Logo/logo_subnav.svg" alt="hinh anh menu con">
                        </a>
                    </li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Pages</a></li>
                    <li><a href="">Blog</a></li>
                    <li class="header-li-last">
                        <a href=""> <img src="../images/Logo/logo_bottom_offer.svg" alt="">Offers</a>
                    </li>
                </ul>
                <div class="header_map">
                    <button>
                        <img src="../images/Logo/logo_bottom_map.svg" alt="">
                    </button>
                    <input type="text" placeholder="Surat">
                </div>
            </div>
        </section>
    </section>
</body>

</html>